@using PresentationLayer.Mvc
@model PresentationLayer.Mvc.Areas.Admin.Models.TagViewModel

<form asp-action="@ViewData[Constants.Keys.Action]" method="post" class="form-horizontal">
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ColorHex" class="control-label"></label>
        <input asp-for="ColorHex" type="color" class="form-control"/>
        <span asp-validation-for="ColorHex" class="text-danger"></span>
    </div>
    <div class="form-group mt-3 d-flex justify-content-end">
        <a href="@Url.Action("Index", "Tag")" class="btn btn-secondary me-2">Cancel</a>
        <input type="submit" value="@ViewData[Constants.Keys.ButtonText]" class="btn btn-primary"/>
    </div>
</form>
