@using PresentationLayer.Mvc
@{
    ViewData[Constants.Keys.Title] = "Edit Tag";
    ViewData[Constants.Keys.Action] = "Edit";
    ViewData[Constants.Keys.ButtonText] = "Save";
}

<h2>@ViewData[Constants.Keys.Title]</h2>

<partial name="_TagForm" model="Model"/>
