@{
    ViewData["Title"] = "Create Manufacturer";
    ViewData["Action"] = "Create";
    ViewData["ButtonText"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<partial name="_ManufacturerForm" model="Model" />
