@{
    ViewData["Title"] = "Edit Manufacturer";
    ViewData["Action"] = "Edit";
    ViewData["ButtonText"] = "Save";
}

<h2>@ViewData["Title"]</h2>

<partial name="_ManufacturerForm" model="Model" />
