@using PresentationLayer.Mvc
@model PresentationLayer.Mvc.Areas.Admin.Models.ProductEditViewModel

@{
    ViewData[Constants.Keys.Title] = "Create Product";
    ViewData[Constants.Keys.Action] = "Create";
    ViewData[Constants.Keys.ButtonText] = "Create";
}

<div class="container mt-5">
    <h2>@ViewData[Constants.Keys.Title]</h2>
    @await Html.PartialAsync("_ProductForm", Model)
</div>
