@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to JuiceWorld!</h1>
    <div class="text-center mt-4">
        <h2>Your trustworthy anabolic steroids online store 💪💪</h2>
        <p class="lead">Achieve your dream physique with minimal effort and questionable consequences! 🔥🔥</p>
    </div>
</div>