@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <b>JuiceWorld!</b></h1>
    <div class="text-center mt-4">
        <h2>💪💪 Your trustworthy anabolic steroids online store! 💪💪</h2>
        <h3 class="lead">🔥🔥 Achieve your dream physique with minimal effort and questionable consequences! 🔥🔥</h3>
        <h3 class="lead">💉💉 Time to get you jacked! 💉💉</h3>
    </div>
</div>
