@{
    ViewData["Title"] = "Bad Request";
    Layout = "_Layout";
}

<h1>Bad Request</h1>
<p>The request could not be understood by the server due to malformed syntax. Please check your request and try again.</p>
<link rel="stylesheet" href="~/css/customer.css" asp-append-version="true"/>

