@{
    ViewData["Title"] = "Not Found";
    Layout = "_Layout";
}

<h1>Not Found</h1>
<p>The resource you are looking for could not be found. Please check the URL and try again.</p>
<link rel="stylesheet" href="~/css/customer.css" asp-append-version="true"/>

